/*section[data-testid="stAppViewContainer"] div.block-container { 
    padding-top: 0rem;
    padding-bottom: 1rem;
}


section[data-testid="stSidebar"] div.block-container  {
    width: 240px;
}
*/
/*div.stHorizontalBlock {*/
    /*background-color: lightsteelblue; */
    /*height: 30px;
}*/

[data-testid="stHorizontalBlock"] div.stButton button {
    /*background-color: lightsteelblue; */
    width: 124px;
    height: 32px;
    border-color: orangered;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-weight: 100;
}

/*[data-testid="baseButton-secondary"] div.stButton button {*/
    /*background-color: lightsteelblue; */
    /*width: 124px;
    height: 32px;
    border-color: orangered;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-weight: 100;
}*/

section[data-testid="stSidebar"] div.stButton button {
    background-color: lightgray;
    width: 140px;
}

/*[data-testid="stSideBarUserContent"] div.block-container {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
}
*/
section[data-testid="stSidebar"] div.block-container {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
}